@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/public/fonts/Inter/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/public/fonts/Inter/Inter-Bold.woff2") format("woff2");
}

body {
  font-family: 'Inter', sans-serif;
	margin: 0;
}

p, h1 {
  margin: 0;
}

section {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
