html {
  font-size: 14px;
  color: var(--text-color);
}

body, p, h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  min-height: 100vh;
}

.p-overlaypanel {
  margin-top: 0px;
}

.p-overlaypanel:before, .p-overlaypanel:after {
  content: none;
}

.p-overlaypanel-content {
  padding: 0;
}

.p-accordion-header .p-accordion-header-link {
  padding: 12px 18px;
}


.p-accordion-content p {
  margin-bottom: 18px;
}

.p-accordion-content p:last-child {
  margin-bottom: 0;
}

.p-accordion-content a {
  color: var(--primary-color);
}
