@layer tailwind-base, tailwind-utilities;

:root {
	--p-primary-50: #f3fdfb;
	--p-primary-100: #c7f5ea;
	--p-primary-200: #9bedd9;
	--p-primary-300: #6fe4c8;
	--p-primary-400: #43dcb8;
	--p-primary-500: #17d4a7;
	--p-primary-600: #14b48e;
	--p-primary-700: #109475;
	--p-primary-800: #0d755c;
	--p-primary-900: #095543;
	--p-primary-950: #052b22;

	--p-surface-0: #ffffff;
	--p-surface-50: #fafafa;
	--p-surface-100: #f5f5f5;
	--p-surface-200: #eeeeee;
	--p-surface-300: #e0e0e0;
	--p-surface-400: #bdbdbd;
	--p-surface-500: #9e9e9e;
	--p-surface-600: #757575;
	--p-surface-700: #616161;
	--p-surface-800: #424242;
	--p-surface-900: #212121;
	--p-surface-950: #020617;

	--bluegray-0: #ffffff;
	--bluegray-50: #f7f8f9;
	--bluegray-100: #dadee3;
	--bluegray-200: #bcc3cd;
	--bluegray-300: #9fa9b7;
	--bluegray-400: #818ea1;
	--bluegray-500: #64748b;
	--bluegray-600: #556376;
	--bluegray-700: #465161;
	--bluegray-800: #37404c;
	--bluegray-900: #282e38;

	--dark-50: #f8fafc;
	--dark-100: #f1f5f9;
	--dark-200: #e2e8f0;
	--dark-300: #cbd5e1;
	--dark-400: #4f6180;
	--dark-500: #33415a;
	--dark-600: #2d3c59;
	--dark-700: #1a2842;
	--dark-800: #17233a;
	--dark-900: #162034;
	--dark-950: #131728;

	--red-50: #fef2f2;
	--red-100: #fee2e2;
	--red-200: #fecaca;
	--red-300: #fca5a5;
	--red-400: #f87171;
	--red-500: #ef4444;
	--red-600: #dc2626;
	--red-700: #b91c1c;
	--red-800: #991b1b;
	--red-900: #7f1d1d;
	--red-950: #450a0a;

	--sidebar-border: #4f6180;
	--table-border: #2d3c59;
	--sidebar-item: #33415a;
	--sidebar-bg: #1a2842;
	--header-bg-table-bg: #17233a;
	--main-bg: #162034;

	--main-900: var(--bluegray-900);

	--p-primary-color: var(--p-primary-500);
	--p-primary-contrast-color: var(--p-surface-0);
	--p-primary-hover-color: var(--p-primary-600);
	--p-primary-active-color: var(--p-primary-700);
	--p-content-border-color: var(--p-surface-200);
	--p-content-hover-background: var(--p-surface-100);
	--p-content-hover-color: var(--p-surface-800);
	--p-highlight-background: var(--p-primary-50);
	--p-highlight-color: var(--p-primary-700);
	--p-highlight-focus-background: var(--p-primary-100);
	--p-highlight-focus-color: var(--p-primary-800);
	--p-text-color: var(--p-surface-700);
	--p-text-hover-color: var(--p-surface-800);
	--p-text-muted-color: var(--p-surface-500);
	--p-text-hover-muted-color: var(--p-surface-600);
}

.dark {
	--main-900: var(--bluegray-0);
}
